<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="LogOut"/>
</form>
<div th:switch="${translations}">
    <h2 th:case="null">No Language-Message pairs added yet!</h2>
    <div th:case="*">
        <h2>Language-Message pairs</h2>
        <table>
            <thead>
            <tr>
                <th>Language Code</th>
                <th>Translation</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="translation : ${translations}">
                <td th:text="${translation.languageCode}"></td>
                <td th:text="${translation.text}"></td>
                <td>
                    <form method="get"
                          th:action="@{/admin/{languageCode}(languageCode=${translation.languageCode})}"><input
                            type="submit" value="Delete"/></form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2>Add Language-Message pairs</h2>
        <form action="#" method="post" th:action="@{/admin}" th:object="${helloWorld}">
            <label for="languageCode">Language Code</label>
            <input id="languageCode" placeholder="LanguageCode" required th:field="*{languageCode}" type="text">
            <span th:errors="*{languageCode}" th:if="${#fields.hasErrors('languageCode')}"></span>
            <br>
            <label for="text">Translation</label>
            <input id="text" placeholder="Hello World Translation" required th:field="*{text}" type="text">
            <span th:errors="*{text}" th:if="${#fields.hasErrors('text')}"></span>
            <br>
            <input type="submit" value="Add">
        </form>
    </div>

</div>
</body>
</html>