<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/secure/hello}" method='POST'>
    <label for="username">Username</label>
    <input id ="username" type='text' name='username' required/>
    <br>
    <label for="password">Password</label>
    <input id ="password" type='password' name='password' required/>
    <br>
    <input name="submit" type="submit" value="LogIn"/>
</form>
<div th:if="${param.error}">
    Invalid username/password.
</div>
</body>
</html>