<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
</head>
<body>
<h1>Login</h1>
<form method='POST' th:action="@{/secure/hello}">
    <label for="username">Username</label>
    <input id="username" name='username' required type='text'/>
    <br>
    <label for="password">Password</label>
    <input id="password" name='password' required type='password'/>
    <br>
    <input name="submit" type="submit" value="LogIn"/>
</form>
<div th:if="${param.error}">
    Invalid username/password.
</div>
</body>
</html>